@import 'assets/styles/index.scss';

.login {
  min-height: calc(100vh - 72px);
  background-color: #f9f9f9;

  @include respond-to(sm) {
    padding-bottom: 60px;
  }

  .title {
    font-size: 34px;
    font-family: ProximaNova-Bold;
    color: rgba(0, 0, 0, 0.87);
    line-height: 64px;
    padding: 48px 49px 0;
    margin: 0;
    text-align: center;
  }

  .conBox {
    display: flex;
    flex-wrap: wrap;
    max-width: 580px;
    margin: 0 auto;

    .paper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 270px;
      height: 157px;
      background: rgba(255, 255, 255, 1);
      box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.12);
      border-radius: 8px;
      margin: 32px auto 0;
      color: #000;
      cursor: pointer;

      @include respond-to(md) {
        height: 357px;
      }

      &:hover {
        transform: translateY(-16px);
        transition: transform 0.2s;
        color: #fff;
        background-color: #1e3de4;

        .nowIcon {
          fill: #fff;
          color: #fff;
        }
      }

      .nowIcon {
        fill: #1e3de4;
        color: #1e3de4;
      }

      .icon1 {
        width: 64px;
        height: 64px;
      }

      .icon2 {
        width: 72px;
        height: 72px;
      }

      .paperTitle {
        font-size: 24px;
        font-family: ProximaNova-Bold;
        line-height: 29px;

        @include respond-to(md) {
          margin-top: 56px;
        }
      }

      .paperDesc {
        font-size: 16px;
        font-family: ProximaNova-Regular;
        line-height: 24px;
        margin-top: 16px;
        padding: 0 39px;
        text-align: center;
      }
    }
  }
}
