@import 'assets/styles/index.scss';

.login {
  min-height: calc(100vh - 56px);
  background-color: #f9f9f9;
  padding-bottom: 60px;

  @include respond-to(md) {
    padding: 0;
  }

  .title {
    font-size: 34px;
    font-family: ProximaNova-Bold;
    color: rgba(0, 0, 0, 0.87);
    line-height: 64px;
    padding: 48px 16px 0;
    margin: 0;
    text-align: center;
  }

  .conBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16px 0;

    @include respond-to(md) {
      flex-direction: row;
      justify-content: center;
    }

    .paper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 157px;
      background: rgba(255, 255, 255, 1);
      box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.12);
      border-radius: 8px;
      margin: 32px 0 0;
      color: #000;
      cursor: pointer;

      @include respond-to(md) {
        width: 270px;
        height: 357px;

        &:last-child {
          margin-left: 40px;
        }
      }

      &:hover {
        transform: translateY(-16px);
        transition: transform 0.2s;
        color: #fff;
        background-color: #1e3de4;

        .cardIc {
          width: 136px;
          height: 136px;
        }
      }

      .paperTitle {
        font-size: 24px;
        font-family: ProximaNova-Bold;
        line-height: 29px;

        @include respond-to(md) {
          margin-top: 24px;
        }
      }

      .paperDesc {
        font-size: 16px;
        font-family: ProximaNova-Regular;
        line-height: 24px;
        margin-top: 16px;
        padding: 0 39px;
        text-align: center;
      }
    }
  }
}