@import '@/assets/styles/index.scss';

.modalContent {
  margin: 0 38px 0;
}

.tipString {
  width: auto;
  margin: 20px 38px 50px;
  font-family: 'ProximaNova-Regular';
  font-size: 18px;
  line-height: 28px;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  word-break: break-all;

  @include respond-to(sm) {
    width: 380px;
    margin: 15px auto 48px;
    line-height: 40px;
  }
}

.statusIcon {
  display: block;
  width: 96px;
  height: 96px;
  margin: 0 auto;
  fill: #c2c2c2;
}

.modalBtnWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 48px 0;

  .btn {
    width: 160px;
    height: 40px;
  }
}

.modalFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background: rgba(232, 242, 255, 1);
  border-radius: 0 0 8px 8px;

  p {
    font-family: 'ProximaNova-Regular';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.87);

    strong {
      display: block;
      width: 100%;
      font-weight: bold;
      text-align: center;
      text-decoration: underline;
      cursor: pointer;

      a {
        color: rgba(0, 0, 0, 0.87);
      }

      @include respond-to(sm) {
        display: inline;
        width: auto;
      }
    }
  }

  .moreIcon {
    width: 14px;
    height: 12px;
    margin-left: 8px;
    fill: #000;
  }
}