@import 'assets/styles/index.scss';
.operateListPc {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 10px;
  .operateListPcItem {
    position: relative;
    padding: 0 16px;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    .icon {
      vertical-align: middle;
    }
    &:not(:last-child)::after {
      position: absolute;
      top: 50%;
      right: 0;
      display: block;
      width: 2px;
      height: 18px;
      margin-top: -9px;
      content: '';
      background-color: rgba(0, 0, 0, 0.18);
    }
  }
}
.operateListM {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
