@import 'assets/styles/index.scss';

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @include respond-to(md) {
    justify-content: space-between;
    height: 100%;
  }
}

.infoBox {
  padding: 16px 16px 0;

  @include respond-to(md) {
    justify-content: space-between;
    height: 100%;
    padding: 40px 16px 0;
  }

  .infoBoxTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include respond-to(md) {
      flex-direction: column;
      justify-content: flex-start;
    }
  }
}

.walletHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  @include respond-to(md) {
    flex-direction: column;
  }

  .walletImg {
    width: 48px;
    height: 48px;
    margin-right: 16px;

    @include respond-to(md) {
      width: 64px;
      height: 64px;
      margin-right: 0;
      margin-bottom: 8px;
    }
  }

  .walletName {
    // font-family: 'ProximaNova-Regular';
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
    color: rgba(0, 0, 0, 1);

    @include respond-to(md) {
      font-weight: 400;
    }
  }
}

.walletBalance {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @include respond-to(md) {
    flex-direction: column;
    margin-top: 33px;
  }

  .walletBalanceTitle {
    display: none;
    margin-bottom: 4px;
    // font-family: 'ProximaNova-Regular';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: rgba(0, 0, 0, 1);

    @include respond-to(md) {
      display: block;
    }
  }

  .walletBalanceTotal {
    // font-family: 'ProximaNova-Bold';
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    color: rgba(0, 0, 0, 1);

    @include respond-to(md) {
      font-size: 34px;
      line-height: 48px;
    }
  }
}

.btnBox {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 16px;
  margin-bottom: 24px;

  @include respond-to(md) {
    flex-direction: column;
    align-items: stretch;
    padding: 0 60px;
    margin-top: 0;
    margin-bottom: 40px;
  }

  .btn {
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    text-transform: Capitalize;
    flex-shrink: 0;

    &:not(:first-child) {
      margin-top: 0;
      margin-left: 16px;

      @include respond-to(md) {
        margin-top: 8px;
        margin-left: 0;
      }
    }
  }
}