@import 'assets/styles/index.scss';

.formContent {
  .formBox {
    display: block;
    margin: 0 24px 44px;
    @include respond-to(sm) {
      width: 420px;
      margin: 0 70px 44px;
    }
  }
  .formInput {
    width: 100%;
  }
  .submitBtn {
    display: flex;
    width: 160px;
    margin: 0 auto 40px;
    .icon {
      fill: #fff;
    }
  }
}
