@font-face {
  font-family: ProximaNova-Bold;
  font-display: auto;
  font-weight: bold;
  src: url('./ProximaNova-Bold.otf');
}

@font-face {
  font-family: ProximaNova-Regular;
  font-display: auto;
  font-weight: 400;
  src: url('./ProximaNova-Regular.otf');
}

@font-face {
  font-family: ProximaNova-Semibold;
  font-display: auto;
  font-weight: 600;
  src: url('./ProximaNova-Semibold.otf');
}
