@import 'assets/styles/index.scss';

.siderMenusWrap {
  padding-top: 72px;
  width: 200px;
  min-height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;

  @media screen and (max-width: 600px) {
    padding-top: 56px;
  }
}

.userInfo {
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .userPicWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.55);

    .userPic {
      width: 32px;
      height: 32px;
    }
  }

  .userCode {
    width: 134px;
    margin-top: 8px;
    font-family: 'ProximaNova-Regular';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
    @include no-wrap();
  }
}

.operationWrap {
  width: 100px;
  margin: 40px auto 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.siderMenusBottom {
  padding-bottom: 32px;
  text-align: center;

  .official {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 400;

    a {
      font-family: 'ProximaNova-Regular';
      color: rgba(255, 255, 255, 0.7);
      text-decoration: none;
    }
  }

  .copyText {
    width: 120px;
    margin: 16px auto 0;
    font-family: 'ProximaNova-Regular';
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.38);
  }
}
