@import 'assets/styles/index.scss';
.codeString {
  margin: 24px 30px 0;
  font-family: 'ProximaNova-Regular';
  font-size: 16px;
  line-height: 32px;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  word-break: break-all;
  @include respond-to(sm) {
    // width: 286px;
    margin: 24px 36px 0;
  }
}
.codeImg {
  margin: 16px auto 40px;
}
