@import 'assets/styles/index.scss';

.creatModal {
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    width: 312px;
    padding: 48px 19px 64px;

    @include respond-to(md) {
      padding: 48px 54px 64px;
    }

    .dotBox {
      display: flex;
      justify-content: center;
      align-items: center;

      .dotItem {
        width: 8px;
        height: 8px;
        background: rgba(0, 0, 0, 0.24);
        border-radius: 50%;
        margin-left: 16px;

        &:first-child {
          margin-left: 0;
        }
      }

      .dotItemAc {
        width: 10px;
        height: 10px;
        background: rgba(30, 61, 228, 1);
        border-radius: 50%;
      }
    }

    .button {
      width: 203px;
      height: 48px;
      background: rgba(30, 61, 228, 1);
      border-radius: 4px;
      color: #fff;
      margin: 25px auto 0;
      padding: 0;
    }
  }

  .container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 39px;
    width: 100%;

    .passWordLine {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .txt {
        flex: 1;
      }

      .qsIc {
        width: 16px;
        height: 16px;
        color: #1e3de4;
        fill: #1e3de4;
        cursor: pointer;
      }

      .snackBar {
        position: absolute;
        right: -19px;
        top: 40px;
        width: 202px !important;
        height: 96px;
        padding: 12px;
        min-width: 0;
        background-color: #000;
        z-index: 1;

        @include respond-to(md) {
          right: -140px;
        }
      }
    }
  }

  .container2 {
    display: flex;
    flex-direction: column;

    .conBox {
      display: flex;
      flex-direction: column;
      margin: 15px 0 40px;

      .conItem {
        display: flex;
        margin-top: 24px;

        .imgBox {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 48px;
          height: 48px;
          margin-right: 24px;
          background: rgba(0, 0, 0, 0.06);
          border-radius: 50%;

          .conIc {
            width: 24px;
            height: 24px;
            color: #a4a4a4;
            fill: #a4a4a4;
          }
        }

        .txtBox {
          display: flex;
          flex-direction: column;
          flex: 1;
          font-size: 16px;
          color: rgba(0, 0, 0, 1);

          .txt1 {
            font-family: ProximaNova-Bold;
            font-weight: bold;
            line-height: 19px;
            margin-bottom: 8px;
          }

          .txt2 {
            font-family: ProximaNova-Regular;
            font-weight: 400;
            line-height: 24px;
          }
        }
      }
    }
  }

  .bottomInfo {
    padding: 0 16px;
    margin-top: 24px;

    .words {
      font-size: 16px;
      font-family: ProximaNova-Semibold;
      font-weight: 600;
      color: rgba(255, 255, 255, 1);
      line-height: 19px;

      .linkName {
        margin: 0 6px;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
