.creatModal {
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 312px;
    background-color: #fff;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    padding: 48px 54px 64px;

    .dotBox {
      display: flex;
      justify-content: center;
      align-items: center;

      .dotItem {
        width: 8px;
        height: 8px;
        background: rgba(0, 0, 0, 0.24);
        border-radius: 50%;
        margin-left: 16px;

        &:first-child {
          margin-left: 0;
        }
      }

      .dotItemAc {
        width: 10px;
        height: 10px;
        background: rgba(30, 61, 228, 1);
        border-radius: 50%;
      }
    }

    .button {
      width: 203px;
      height: 48px;
      background: rgba(30, 61, 228, 1);
      border-radius: 4px;
      color: #fff;
      margin: 25px auto 0;
    }
  }

  .container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 39px;
    width: 100%;

    .passWordLine {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .txt {
        flex: 1;
      }

      .qsIc {
        width: 16px;
        height: 16px;
        color: #1e3de4;
        fill: #1e3de4;
      }
    }
  }
}
