@import 'assets/styles/index.scss';
.codeString {
  width: 408px;
  margin: 16px 76px 24px;
  font-family: 'ProximaNova-Regular';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  word-break: break-all;
}
.warnFooter {
  .icon {
    fill: #c31212;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background: rgba(255, 245, 215, 1);
  p {
    font-family: 'ProximaNova-Regular';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: rgba(195, 18, 18, 1);
  }
}
