@import 'assets/styles/index.scss';

.dialogTitle {
  padding-top: 16px;
  font-family: 'ProximaNova-Bold';
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
  color: rgba(0, 0, 0, 1);
}

.codeString {
  margin: 0 22px 24px;
  font-family: 'ProximaNova-Regular';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  word-break: break-all;

  @include respond-to(sm) {
    width: 408px;
    margin: 0 76px 24px;
  }
}

.warnFooter {
  .icon {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    margin-left: 24px;
    fill: #c31212;
  }

  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background: rgba(255, 245, 215, 1);

  p {
    font-family: 'ProximaNova-Regular';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;

    color: #c31212;
  }
}