.restoreModal {
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    background-color: #fff;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    padding: 48px 19px 64px;

    .dotBox {
      display: flex;
      justify-content: center;
      align-items: center;

      .dotItem {
        width: 8px;
        height: 8px;
        background: rgba(0, 0, 0, 0.24);
        border-radius: 50%;
        margin-left: 16px;

        &:first-child {
          margin-left: 0;
        }
      }

      .dotItemAc {
        width: 10px;
        height: 10px;
        background: rgba(30, 61, 228, 1);
        border-radius: 50%;
      }
    }

    .button {
      width: 203px;
      height: 48px;
      background: rgba(30, 61, 228, 1);
      border-radius: 4px;
      color: #fff;
      margin: 25px auto 0;
    }
  }

  .container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .uploadBox {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
      background: rgba(0, 0, 0, 0.24);
      margin-top: 41px;
      border-radius: 50%;

      .uploadIc {
        width: 40px;
        height: 40px;
        fill: #fff;
        color: #fff;
      }
    }

    .tips {
      font-size: 16px;
      font-family: ProximaNova-Bold;
      font-weight: bold;
      color: #000;
      line-height: 24px;
      padding: 0 80px;
      margin-top: 25px;
      text-align: center;
    }
  }

  .container2 {
    display: flex;
    flex-direction: column;
    width: 100%;

    .MuiFormControl-root {
      margin-top: 39px;
    }

    .MuiFilledInput-root {
      background-color: #fff;
    }

    .title1 {
      font-size: 14px;
      font-family: ProximaNova-Regular;
      font-weight: 400;
      color: rgba(12, 34, 154, 1);
      line-height: 17px;
      margin-top: 39px;
    }

    .title2 {
      font-size: 16px;
      font-family: ProximaNova-Regular;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.56);
      line-height: 19px;
      margin-top: 16px;
    }
  }

  .bottomInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;

    .words {
      font-size: 16px;
      font-family: ProximaNova-Semibold;
      font-weight: 600;
      color: rgba(255, 255, 255, 1);
      line-height: 19px;

      .linkName {
        margin: 0 6px;
        text-decoration: underline;
      }
    }

    .errorBox {
      width: 239px;
      height: 64px;
      background: rgba(232, 114, 114, 1);
      border-radius: 4px;
      margin-top: 21px;

      .errorInfo {
        font-size: 16px;
        font-family: ProximaNova-Regular;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.87);
        line-height: 24px;
      }
    }
  }
}
