/* 浮动 */
.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix::after {
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  content: '';
}

.bold {
  font-weight: bold;
}

.icon {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  fill: #9a9a9a;
}

.triangleIcon {
  width: 10px;
  height: 8px;
  margin-right: 8px;
  margin-left: 8px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
img {
  padding: 0;
  margin: 0;
}

.countryIcon {
  display: none;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  vertical-align: middle;
  @include respond-to(sm) {
    display: inline-block;
  }
}
.operationWrap {
  margin: 0 12px 24px;
  .icon {
    cursor: pointer;
    opacity: 0.55;
  }
}
