/* 浮动 */
.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix::after {
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  content: '';
}

.bold {
  font-weight: bold;
}
.icon {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}
.triangleIcon {
  width: 10px;
  height: 8px;
  margin-right: 8px;
  margin-left: 8px;
}
.countryIcon {
  width: 18px;
  margin-right: 8px;
  vertical-align: middle;
  height: auto;
}
