@import 'assets/styles/index.scss';

.codeString {
  margin: 0 30px;
  font-family: 'ProximaNova-Bold';
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  color: rgba(0, 0, 0, 1);
  word-break: break-all;

  @include respond-to(sm) {
    width: 286px;
    margin: 0 36px;
  }
}

.codeImg {
  margin: 16px auto 40px;
}